header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 80px;
    gap: 30px;
}

header h1{
    font-size: 35px;
}

header img{
    height: 60px;
}

.currency-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 20px;
    max-width: 350px;
}

.currency-line{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 15px;
    width: 100%;
}

.currency-line input, .currency-line select{
    height: 100%;
    background-color: #EEEEEE;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    box-sizing: border-box;
    font-weight: bold;
    width: 80%;
}

.currency-line select{
    width: 20%;
}

.button-converter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.button-converter button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg,#607C97, #BCD0E1);
    height: 30px;
    width: 30px;
    border-radius: 5px;
    color: white;
    border: solid 2px #607C97;
}
.button-converter .arrow-icon{
    font-size: 20px;
    font-weight: bold;
}